<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-doghnut title="Ventas" [label]="doghnut1Label" [data]="data1"></app-doghnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-doghnut title="Membresias" [label]="doghnut2Label" [data]="data2"></app-doghnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-doghnut title="Usuarios" [label]="doghnut3Label" [data]="data3"></app-doghnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-doghnut title="Correos" [label]="doghnut4Label" [data]="data4"></app-doghnut>
            </div>
        </div>
    </div>
</div>